body {
	font-family: 'Averia Libre';
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: #999999;
	background-color: black;
}

img {
	border: 0px;
}

a {
	color: #666666;
	text-decoration: none;
	padding: 10px;
}

a:hover {
	color: #cccccc;
	text-decoration: none;
}
